/* FontFace */
@font-face {
  font-family: "Roboto Serif";
  src: url(/fonts/Roboto_Serif/RobotoSerif-Regular.ttf);
}

@font-face {
  font-family: "Roboto Serif";
  src: url(/fonts/Roboto_Serif/RobotoSerif-Bold.ttf);
  font-weight: bold;
}

/* Keyframes */
@keyframes slide-up {
  50% {
    margin-top: 100%;
  }
  100% {
    margin-top: 0%;
  }
}

@keyframes slide-in-to-right {
  0% {
    margin-right: 100%;
    display: none;
  }
  50% {
    margin-right: 100%;
    display: none;
  }
  100% {
    margin-right: 2rem;
  }
}

@keyframes slide-in-to-left {
  0% {
    margin-left: 100%;
    display: none;
  }
  50% {
    margin-left: 100%;
    display: none;
  }
  100% {
    margin-left: 1.5rem;
  }
}

@keyframes slide-carousel {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(0%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  95% {
    transform: translateX(-300%);
  }
  99% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

/* UniversalSelector */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* :root */
:root {
  --revou-bg-color: #fcdc2c;
  --revou-text-color: #080804;

  --white--1: #fff;
  --white--2: #ccc;

  --black--1: #000;
  --black--2: #333;
  --black--3: #555;

  --red--1: #b60000;

  --green--1: #5e723b;
  --green--2: #425029;
  --green--3: #384423;
  --green--4: #13170c;

  --orange--1: #f3a51c;
  --orange--2: #db9519;

  --main-bg-color: #f5f1ea;
}

.light-mode {
  --revou-bg-color: #fcdc2c;
  --revou-text-color: #080804;

  --white--1: #fff;
  --white--2: #ccc;

  --black--1: #000;
  --black--2: #333;
  --black--3: #555;

  --red--1: #b60000;

  --green--1: #5e723b;
  --green--2: #425029;
  --green--3: #384423;
  --green--4: #13170c;

  --orange--1: #f3a51c;
  --orange--2: #db9519;

  --main-bg-color: #f5f1ea;
}

.dark-mode {
  /* --old variable: new value */

  --revou-bg-color: #080804;
  --revou-text-color: #fcdc2c;

  --white--1: #fff;
  --white--2: #ccc;

  --black--1: #000;
  --black--2: #ccc;
  --black--3: #555;

  --red--1: #b60000;

  --green--1: #384423;
  --green--2: #425029;
  --green--3: #5e723b;
  --green--4: #13170c;

  --orange--1: #db9519;
  --orange--2: #f3a51c;

  --main-bg-color: #13170c;
}

/* HTML~~ */
html {
  font-size: 62.5%;
  & body {
    background-image: linear-gradient(
        rgb(0, 0, 0),
        rgba(255, 255, 255, 0),
        rgb(0, 0, 0)
      ),
      url(https://static.vecteezy.com/system/resources/previews/001/834/542/non_2x/abstract-dots-animal-print-design-leopard-print-design-cheetah-skin-background-free-vector.jpg);
    padding: 0rem 2rem 2rem;
    font-family: sans-serif;
    margin: auto;
    max-width: 1366px;
  }
  @media screen and (max-width: 768px) {
    body {
      padding: 0rem 1rem 2rem;
    }
  }

  & h2,
  .heading-secondary {
    display: flex;
    justify-content: center;
    color: var(--green--3);
    padding: 3rem 0rem 3rem;
    font-size: 4rem;
  }
  @media screen and (max-width: 768px) {
    .heading-secondary {
      padding: 2rem 0rem 1.5rem;
      font-size: 2.5rem;
    }
  }
  @media screen and (max-width: 480px) {
    .heading-secondary {
      font-size: 2.1rem;
    }
  }
}

/* Headers */
header {
  display: unset;

  /* RevoU */
  .upper-header {
    background-color: var(--revou-bg-color);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    & p {
      color: var(--revou-text-color);
      font-size: 1.6rem;
    }
  }

  /* Header */
  .the-header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.4rem solid var(--green--4);
    position: sticky;
    top: 0rem;
    z-index: 2;
    max-width: 1366px;
    width: 100%;
    background-color: var(--green--1);
    border-radius: 0rem 0rem 1rem 1rem;

    /* LeftHeader */
    .logo {
      display: flex;
      align-items: center;
      font-size: 3rem;
      letter-spacing: 0.35rem;
      text-decoration: none;
    }

    /* RightHeader */
    .header-right-container {
      display: flex;
      align-items: center;
    }
  }
}

/* Logo */
.logo-img {
  height: 5rem;
  padding: 0.5rem;
}
.logo-title {
  font-weight: 700;
  padding-left: 0.3rem;
  color: var(--orange--1);
  -webkit-text-stroke: 0.1rem var(--black--1);
}
.logo-notif {
  font-size: 1.2rem;
  letter-spacing: 0rem;
  background-color: var(--red--1);
  border-radius: 100%;
  width: 2.1rem;
  height: 2.1rem;
  color: var(--white--1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.5rem;
  left: 14.9rem;
}

/* SearchBar */
.search-container {
  display: flex;
  align-items: center;
  margin-right: 2rem;

  .search-form {
    .search-form-input {
      width: 20rem;
      padding: 1rem 1rem 0.7rem 1rem;
      border: 0rem solid var(--white--2);
      border-radius: 0.5rem 0rem 0rem 0.5rem;
      font-size: 1.6rem;
    }

    .search-form-button {
      background-color: var(--green--3);
      color: var(--white--1);
      border: none;
      border-radius: 0rem 0.5rem 0.5rem 0rem;
      padding: 1rem 2rem;
      margin-left: 0px;
      cursor: pointer;

      & i {
        font-size: 2rem;
      }
    }

    .search-form-button:hover {
      background-color: var(--green--2);
    }
  }
}
@media screen and (max-width: 768px) {
  .search-container {
    display: none;
  }
}

/* Dark - Light Toggle Mode */
.mode-toggle {
  font-size: 2.5rem;
  cursor: pointer;
  margin: 0rem 1rem;
  border: 0.2rem solid var(--white--1);
  border-radius: 5rem;
  padding: 0.2rem 1rem;
}
@media screen and (max-width: 1024px) {
  .mode-toggle {
    margin-right: 2.2rem;
  }
}
@media screen and (max-width: 364px) {
  .mode-toggle {
    display: none;
  }
}

/* NavigationMenu */
.nav-ul {
  display: flex;
  list-style: none;
  align-items: center;

  .nav-li a {
    display: flex;
    align-items: center;
    margin: 0 1.3rem;
    font-size: 1.6rem;
    font-weight: 520;
    text-decoration: none;
  }

  .nav-li:not(:last-child) a:link,
  a:visited {
    color: var(--white--1);
  }

  .nav-li:not(:last-child) a:hover,
  a:active {
    color: var(--orange--2);
    transition-duration: 0.13s;
  }

  /* CheetahButton */
  .nav-li:last-child a:link,
  a:visited {
    background-color: var(--orange--1);
    color: var(--white--1);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin: 0 1rem;
    margin-right: 2rem;
  }

  .nav-li:last-child a:hover,
  a:active {
    background-color: var(--orange--2);
    transition-duration: 0.13s;
  }
}
@media screen and (max-width: 1024px) {
  .nav-ul {
    display: none;
  }
}

/* HamburgerIcon */
.menu-toggle {
  display: none;
  font-size: 2.8rem;
  cursor: pointer;
  margin-right: 2rem;
}
@media screen and (max-width: 1024px) {
  .menu-toggle {
    display: block;
  }
}

/* DropdownMenu */
.nav-hidden {
  display: none;
}
@media screen and (max-width: 1024px) {
  .nav-hidden.active {
    display: block;
  }
  .nav-hidden {
    border-bottom: 0.6rem solid var(--green--4);
    background: var(--green--1);
    border-radius: 1rem;
    position: absolute;
    top: 6rem;
    right: 0;
    .nav-hidden-ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .nav-hidden-li {
        padding: 3rem 2rem;
        border-bottom: 0.4rem solid var(--green--4);
        & a {
          color: var(--white--1);
          text-decoration: none;
          font-size: 1.6rem;
        }
      }
      .nav-hidden-li:last-child a:link,
      a:visited {
        background-color: var(--orange--1);
        color: var(--white--1);
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        margin: 0;
      }
      .nav-hidden-li.cheetah-btn {
        border-bottom: 0;
      }
    }
  }
}

/* End of Header */

/* Main */
.main {
  background-color: var(--main-bg-color);
  box-shadow: 0rem 0rem 1rem var(--green--3);
  border-radius: 1rem;
  margin-bottom: 2.5rem;
}

/* Hero */
.section-hero {
  display: flex;
  flex-direction: column;
  color: var(--white--1);
  background-position: center;
  height: 65rem;
  padding-top: 4.8rem;
  justify-content: space-between;
  background-image: linear-gradient(
      to top right,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    ),
    url(https://images.unsplash.com/photo-1619494296448-ab5f847ece97?auto=format&fit=crop&q=80&w=1450&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  animation-name: slide-up;
  animation-duration: 2s;

  .heading-primary--1 {
    margin-left: auto;
    display: flex;
    justify-content: end;
    margin: 2rem;
    font-family: "Roboto Serif", serif, sans-serif;
    font-weight: 400;
    animation-duration: 4s;
    animation-name: slide-in-to-right;
    font-size: 16rem;
  }
  @media screen and (max-width: 1280px) {
    .heading-primary--1 {
      font-size: 14.5rem;
    }
  }
  @media screen and (max-width: 1024px) {
    .heading-primary--1 {
      font-size: 13rem;
    }
  }
  @media screen and (max-width: 768px) {
    .heading-primary--1 {
      font-size: 6.6rem;
      margin: 1rem;
    }
  }
  @media screen and (max-width: 480px) {
    .heading-primary--1 {
      font-size: 5.4rem;
    }
  }

  .heading-primary--2 {
    margin-right: 2rem;
    margin-left: auto;
    display: flex;
    justify-content: end;
    margin: 2rem;
    animation-duration: 4.5s;
    animation-name: slide-in-to-right;
    animation-delay: 0.5s;
    flex-direction: row;
    font-size: 6rem;
  }
  @media screen and (max-width: 768px) {
    .heading-primary--2 {
      margin-right: 0rem;
      font-size: 3.7rem;
      margin: 0rem 1.3rem;
    }
  }
  @media screen and (max-width: 480px) {
    .heading-primary--2 {
      font-size: 3rem;
    }
  }
  .hero-desc {
    font-size: 2.6rem;
    line-height: 1.5;
    margin: 1.5rem;
    font-family: "Roboto Serif", serif, sans-serif;
    letter-spacing: 0.05rem;
    animation-name: slide-in-to-left;
    animation-duration: 4.5s;
    text-shadow: 0.1rem 0.1rem 0.1rem var(--black--1);
    animation-delay: 0.5s;
  }
  @media screen and (max-width: 1280px) {
    .hero-desc {
      font-size: 2.2rem;
    }
  }
  @media screen and (max-width: 1024px) {
    .hero-desc {
      font-size: 2rem;
    }
  }
  @media screen and (max-width: 768px) {
    .hero-desc {
      font-size: 1.75rem;
      margin: 1rem;
    }
  }
  @media screen and (max-width: 480px) {
    .hero-desc {
      font-size: 1.4rem;
    }
  }
}
@media screen and (max-width: 1280px) {
  .section-hero {
    padding-top: 3.8rem;
    background-position: 40% 50%;
  }
}
@media screen and (max-width: 1024px) {
  .section-hero {
    padding-top: 2.8rem;
    background-position: 40% 50%;
  }
}
@media screen and (max-width: 768px) {
  .section-hero {
    background-position: 40% 50%;
    background-size: 75rem;
    height: 50rem;
    padding-top: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .section-hero {
    background-position-x: 30%;
  }
}

/* Section/Photos */
.section-photos {
  padding-bottom: 4rem;
  height: fit-content;

  /* PhotosContainer */
  .photos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 30vw);
    gap: 1.4rem;
    /* EachPhoto */
    .photos {
      position: relative;
      .photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.444),
          rgba(0, 0, 0, 0.02)
        );
        opacity: 0;
        transition: opacity 0.3s;
      }
      .fa-heart {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        font-size: 5rem;
        opacity: 0;
        transition: opacity 0.3s;
      }
    }
    .photos:hover .overlay {
      opacity: 1;
    }
    .photos:hover .fa-heart {
      opacity: 1;
      cursor: pointer;
    }
    .photo--1 {
      grid-row: 1 / span 2;
    }
    .photo--2 {
      grid-column: 2 / span 2;
    }
  }
  @media screen and (max-width: 1280px) {
    .photos-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 30vw);
      gap: 2rem;
      .photo--1 {
        grid-row: 1 / span 1;
      }
      .photo--2 {
        grid-column: 2 / span 1;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .photos-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 30vw);
      gap: 1.4rem;
    }
  }
  @media screen and (max-width: 768px) {
    .photos-container {
      display: flex;
      flex-direction: column;
      padding: 0rem 10rem;
    }
  }
  @media screen and (max-width: 480px) {
    .photos-container {
      padding: 0rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .section-photos {
    padding-bottom: 3rem;
  }
}

/* Section/Facts */
.section-facts {
  height: fit-content;
  padding-bottom: 4rem;

  .facts-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .facts-content-ul {
      font-size: 1.6rem;
      line-height: 1.75;
      color: var(--black--2);
      font-family: "Roboto Serif", serif, sans-serif;
      list-style: square;
    }
    @media screen and (max-width: 1024px) {
      .facts-content-ul {
        padding: 0rem 1rem;
        margin-left: 2.5rem;
      }
    }
    @media screen and (max-width: 768px) {
      .facts-content-ul {
        display: flex;
        flex-direction: column-reverse;
        margin-right: 0.7rem;
        margin-left: 3rem;
        font-size: 1.6rem;
      }
    }
    @media screen and (max-width: 480px) {
      .facts-content-ul {
        font-size: 1.4rem;
      }
    }
    .facts-photo {
      height: 40rem;
      box-shadow: 0rem 0rem 0.5rem var(--green--3);
      margin: 0rem 2rem;
    }
    @media screen and (max-width: 768px) {
      .facts-photo {
        height: 50vw;
        margin-bottom: 1.5rem;
        margin: 0rem 3rem 1.5rem;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .facts-container {
      flex-direction: column-reverse;
    }
  }
}
@media screen and (max-width: 768px) {
  .section-facts {
    padding-bottom: 3rem;
  }
}
@media screen and (max-width: 480px) {
}

/* Section/Video */
.section-video {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 4rem;

  .video-cheetah-running {
    margin: 0rem auto;
  }
  @media screen and (max-width: 768px) {
    .video-cheetah-running {
      width: 40rem;
    }
  }
  @media screen and (max-width: 480px) {
    .video-cheetah-running {
      width: 27rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .section-video {
    padding-bottom: 3rem;
  }
}

/* Section/Love */
.section-love {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding-bottom: 4rem;

  .love-cheetah-btn {
    font-size: 2.7rem;
    margin: auto;
    background-color: var(--green--3);
    color: var(--white--1);
    border: 0.4rem solid var(--green--4);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    .love-cheetah-btn {
      font-size: 2rem;
      padding: 0.8rem 1.6rem;
    }
  }
  .love-cheetah-btn:hover {
    background-color: var(--orange--2);
    transition-duration: 0.13s;
  }
}
@media screen and (max-width: 768px) {
  .section-love {
    padding-bottom: 3rem;
  }
}

/* Section/Carousel */
.section-carousel {
  .carousel-frame {
    padding: 0 2rem 4rem;
    .carousel-wrapper {
      position: relative;
      max-width: 30rem;
      margin: 0 auto;
      .carousel-img-container {
        display: flex;
        aspect-ratio: 3/2;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        & img {
          animation: slide-carousel 10s linear infinite;
          width: 100%;
          flex: 0 0 100%;
          scroll-snap-align: start;
          object-fit: cover;
        }
      }
      .carousel-nav {
        display: flex;
        column-gap: 1rem;
        position: absolute;
        bottom: 1.25rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        & > a {
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          background-color: var(--white--1);
          opacity: 0.75;
          transition: opacity ease 0.25ms;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

/* Footer(Form) */
.form {
  color: var(--white--1);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-heading.heading-secondary {
    color: var(--white--1);
  }
  @media screen and (max-width: 768px) {
    .form-heading.heading-secondary {
      font-size: 2.15rem;
    }
  }
  @media screen and (max-width: 480px) {
    .form-heading.heading-secondary {
      font-size: 2rem;
    }
  }
}

.form--1 {
  .sign-in-form {
    padding: 2rem;
    margin-bottom: 3rem;

    .username,
    .password {
      .form-input {
        width: 20rem;
        padding: 1rem 1rem 0.7rem 1rem;
        border: 0rem solid var(--white--2);
        border-radius: 0.5rem;
        font-size: 1.6rem;
        margin: 1rem;
      }
    }
  }
}

.form--2 {
  .feedback-form {
    padding: 2rem;

    .form--2--1 {
      .radio-container {
        display: flex;
        margin: 1rem 0rem 2rem;

        .radio-options {
          .radio-label {
            margin-right: 1.8rem;
          }
          .radio-label.last-child {
            margin-right: 0rem;
          }
        }
      }
      @media screen and (max-width: 768px) {
        .radio-container {
          flex-direction: column;
          gap: 1rem;
        }
      }
    }

    .form--2--2,
    .form--2--3 {
      .form-text-area {
        width: 40rem;
        padding: 1rem 1rem 0.7rem 1rem;
        border: 0rem solid var(--white--2);
        border-radius: 0.5rem;
        font-size: 1.6rem;
        margin: 1rem;
      }
      @media screen and (max-width: 768px) {
        .form-text-area {
          width: 25rem;
        }
      }
      @media screen and (max-width: 480px) {
        .form-text-area {
          width: 20rem;
        }
      }
    }

    .form--2--4 {
      .ranges {
        .range-interface,
        .range-experience {
          appearance: none;
          height: 0.1rem;
          border-radius: 1rem;
          margin: 1rem;
          background-color: var(--green--1);
          width: 30rem;
          padding: 0.5rem;
        }
        @media screen and (max-width: 768px) {
          .range-interface,
          .range-experience {
            width: 20rem;
            padding: 0.4rem;
          }
          @media screen and (max-width: 480px) {
            .range-interface,
            .range-experience {
              width: 15rem;
              padding: 0.3rem;
            }
          }
        }
      }
    }
    .form--2--5 {
      .date {
        /* appearance: none; */
        color: #fff;
        width: 15rem;
        padding: 1rem;
        height: 0.1rem;
        border-radius: 1rem;
        margin: 1rem;
        background-color: var(--green--1);
        font-size: 1.5rem;
      }
      @media screen and (max-width: 768px) {
        .date {
          width: 13.4rem;
        }
      }
      @media screen and (max-width: 480px) {
        .date {
          font-size: 1.1rem;
          padding: 0.6rem;
          width: 10.2rem;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .form--2 {
    font-size: 1.2rem;
  }
}

.submit-btn-container {
  display: flex;
  justify-content: end;

  .submit-btn {
    background-color: var(--green--1);
    color: var(--white--1);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 1.6rem;
  }
  @media screen and (max-width: 480px) {
    .submit-btn.second-form {
      padding: 0.8rem 1.6rem;
      font-size: 1.2rem;
      margin-top: 0.8rem;
      margin-right: 0rem;
    }
  }

  .submit-btn:hover {
    background-color: var(--green--3);
  }
}

/* 
640-
768-
1024
1280
1536 */
